* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.slider {
    display: flex;
    width: 900px;
    height: 600px;
    margin: 50px auto;
    box-shadow: 0 0 8px;
}
.img {
    width: 900px;
    height: 600px;
}